{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'web/aboutUs1.css' %}">
</head>
<body>
	{% include "Navbar.html" %}
<br>
<br>
<br>

	<div class="Team">
		<p> Website ini mulai dibuat sejak Desember,2019. Kemudian, dipublikasikan pada
		tahun 2020.</p>
		<p> Target pengguna dari website ini adalah warga SMAN 103 Jakarta dan alumninya.</p>
		<br>
		<hr color=#9f1717>
		<br>
		<p>Logo website ini dibuat oleh :</p>
		<a href="#" style="color:black;"><h2>Niken Tri Utami</h2></a>
		<br>
		<h2>Kontak Tim Internal</h2>

		<div class="cardTeam">

			<div class="col25">
				<div class="desktop">
					<p align="center"><img src="{% static 'Aynun.jpg' %}" style="float:center;align:center;" width=100% height=133></p>
				</div>
				<div class="mobile">
					<img src="{% static 'Aynun.jpg' %}" style="float:center;align:center;" width=100% height=100>
				</div>
			</div>

			<div class="col75">
				<p><strong>Aynun Nissa Setiawan</strong></p>
				<p color="yellow"><i>as Full Stack Developer</i></p>
				<p>Email : nissasetiawan4@gmail.com </p>
				<p>Linkedin : https://www.linkedin.com/in/aynun-n-7b9b17134/</p>
			</div>

		</div>
		<br>

		<div class="cardTeam">

			<div class="col25">
				<div class="desktop">
					<p align="center"><img src="{% static 'Rafi.jpg' %}" width=100% height=133></p>
				</div>
				<div class="mobile">
					<img src="{% static 'Rafi.jpg' %}" width=100% height=100>
				</div>
			</div>

			<div class="col75">
				<p><strong>Rafi Muhammad</strong></p>
				<p color="yellow"><i>as Back-end Developer</i></p>
				<p>Email : rafi10muhammad@gmail.com</p>
				<p>Linkedin : https://www.linkedin.com/in/rafi-muhammad-b89b30198/</p>
			</div>

		</div>
		<br>

		<div class="cardTeam">

			<div class="col25">
				<div class="desktop">
					<p align="center"><img src="{% static 'Dewina.jpg' %}" width=100% height=133></p>
				</div>
				<div class="mobile">
					<img src="{% static 'Dewina.jpg' %}" width=100% height=100>
				</div>
			</div>

			<div class="col75">
				<p><strong>Dewina Aulia Putri</strong></p>
				<p color="yellow"><i>as User Interface Support</i></p>
				<p>Email : dewinaauliaputri@gmail.com </p>
				<p>Linkedin : -</p>
			</div>

		</div>
		<br>
		<hr color = #9f1717>
	</div>

</body>
</html>