{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
 	<link rel="stylesheet" type="text/css" href="{% static 'web/editProfil2.css' %}">
	<title>Edit Profile Alumni</title>
</head>
<body>

	{% include "Navbar.html" %}
	
	<div class="profilBlok">
		<div class="blokSingkat">
			<img src="{{user.image.url}}" class="centerProfil">
		</div>
		<div class="blokPadat">
			<h1 class="namaProfil">{{user.nama}}</h1>
			<div class="desktop">
				<br>
				<hr color=9f1717 size="7">
			</div>
			<div class="mobile">
				<hr color=9f1717 size="4">
			</div>
		</div>
	</div>
	<div class="tulisanBlok">
		<div class="blokTulisan">
			<form method="post" action="">
				{% csrf_token %}

				<h3>Perguruan Tinggi</h3>
				<p>{{ form.univ }}</p>

				<h3>Fakultas</h3>
				<p>{{ form.fakultas }}</p>

				<h3>Jurusan</h3>
				<p>{{ form.jurusan }}</p>

				<h3>Jalur Masuk Universitas</h3>
				<p>{{ form.jalur }}</p>

				<h3>Skor UTBK 1</h3>
				<p>{{ form.skor_1 }}</p>

				<h3>Skor UTBK 2</h3>
				<p>{{ form.skor_2 }}</p>

				<h3>Tahun Lulus SMA</h3>
				<p>{{ form.tahunlulus }}</p>

				<h3>Tahun Masuk Universitas</h3>
				<p>{{ form.tahunmasuk }}</p>

				<h3>Kontak</h3>
				<p>{{ form.kontak }}</p>

				<h3>Referensi Belajar</h3>
				<p>{{ form.refrensi }}</p>

				<h3>Tips dan Trik</h3>
				<p>{{ form.pesan }}</p>

				<h3>Status</h3>
				{{ form.status }}				
				<button type="submit", name="save">Simpan</button>
			</form>
		</div>
	</div>

		
</body>
<br><br><br><br><br><br><br><br><br><br><br>
	{% include "footer.html" %}
</html>