body {
	background-image: url("/static/bg.png");
	padding: 100px 200px;
}

.kotakLogin {
	background-color: #9f1717;
	float: left;
	width: 100%;
	box-shadow: 0px 5px 5px 0px black;
	border-radius: 25px;
}

.kotakForm {
	background-color: white;
	width: 50%;
	padding: 100px 40px;
	float: left;
	height: 100%;
	color: black;
	font-size: 18px;
}

.formLain {
	background-color: transparent;
	width: 50%;
	float: left;
	padding: 80px 60px;
	height: 100%;
	color: white;
	text-align: center;
}

.formLain h1 {
	font-size: 50px;
}

.formLain p {
	font-size: 15px;
}