* {
  box-sizing: border-box;
}

.spaceBar {
  padding : 180px 200px 30px 200px;
  background-color: transparent;
  color: #0f1c26;
}

.space {
  padding : 30px 200px;
  background-color: transparent;
  color: #0f1c26;
}

.kotakBar {
  float: center;
  width : 100%;
  padding : 0px;
  background-color: transparent;
  height : 260px;
}

.kolomTotal {
  float: left;
  width: 5%;
  margin: 18px;
  height: 230px;
  background-color: #ddd;
}

.kolomPersen {
  float: left;
  width: 100%;
}

.kolomAtas {
  float: center;
  width: 100%;
  background-color: transparent;
}

.keterangan {
  float : left;
  width : 100%;
}

.rowKeterangan {
  float : left;
  width : 100%;
  height: 50px;
}

.kodeWarna {
  float: left;
  width: 25px;
  height: 100%;
}

.tulisanStat {
  float: right;
  width: 93%;
  color: #0f1c26;
  font-size: 17px;
  padding: 0px 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: white;
  background-color:#9f1717;
}

td {
  color:#0f1c26;
  background-color: #fddddd;
}

@media screen and (max-width: 1130px) {
	body {
		padding: 10px 20px;
		font-size: 12px;
	}
	.spaceBar {
    padding: 30px 0px;
  }

  .space {
    padding: 30px 0px;
  }
	.kolomTotal {
    width: 5%;
    margin: 7px;
  }
  .kodeWarna {
		width: 15px;
		height: 80%;
	}
	.tulisanStat {
		font-size: 14px;
	}
	th, td {
		font-size: 12px;
	}
	
  .kotakBar {
	  height : 250px;
	}

}